<legend>Basket Summary</legend>
<% if @basket.line_items.size < 1 %>
  <p>Your cart is empty at the moment. <%= link_to 'Continue shopping', products_path %>
<% else %>
  <%= form_tag new_purchase_path, method: 'get' do |form| %>
    <%= render partial: 'shared/error_notice' %>
    <table class="table basket-summary">
      <tbody>
        <% @basket.line_items.each do |line_item| %>
          <% product = line_item.product %>
          <%= render partial: 'shared/basket_row', locals: {product: product, line_item: line_item,on_purchase: false} %>
        <% end %>
        <tr>
          <td class='hidden-xs'></td>
          <td class='hidden-xs'></td>
          <td>Voucher Discount</td>
          <td class="js-voucher-discount"><%= number_to_currency @basket.voucher_discount_in_dollars %></td>
        </tr>
        <tr>
          <td class='hidden-xs'></td>
          <td class='hidden-xs'></td>
          <td>Delivery Price</td>
          <td>
            <div class="form-group <%= flash[:error] ? 'has-error' : ''%>">
              <%= select_tag 'country', delivery_options_for_select, class: 'js-delivery-select form-control' %>
            </div>

          </td>
        </tr>
        <tr>
          <td class='hidden-xs'></td>
          <td class='hidden-xs'></td>
          <td>Total Price</td>
          <td><strong class="js-total-price"><%= number_to_currency(@basket.total_in_dollars) %></strong></td>
        </tr>
      </tbody>
    </table>

    <div class="form-group form-inline pull-left">
      <legend>Apply a promo code</legend>
      <%= label_tag :voucher_code, "Please enter your promotional code/voucher" %>
      <%= text_field_tag :voucher_code, @basket.voucher_code, placeholder: 'Voucher Code', class: 'js-voucher-code form-control' %>
      <button class='btn btn-primary submit-button js-voucher-button' type='button'>Apply</button>
    </div>

    <%= if params['enabled_paypal'] %>
      <div class="form-group text-right">
        <button class='btn btn-primary submit-button' type='submit'>GO TO CHECKOUT</button>
        <input class='btn submit-button' type='image' alt='Pay with Paypal' src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" name='paypal_checkout'></button>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= javascript_tag do %>
  new Basket('<%= basket_value_path %>')
<% end %>
