<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="navigation">
      <li class="hidden-xs"><%= link_to "Shop", products_path %></li>
      <li class="hidden-xs"><%= link_to "Our Story", about_path %></li>
      <li><%= link_to image_tag('kaya_logo_white.png', alt: 'Kaya Active Logo', class: 'navbar-brand'), root_path %></li>
      <li class="hidden-xs"><%= link_to "Blog", blog_posts_path %></li>
      <li class="hidden-xs"><%= link_to "Contact Us", contact_path %></li>
    </ul>

    <div class="panel-group burger-menu visible-xs">
      <div class="panel">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-bars"></i>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <ul class="nav nav-stacked visible-xs mobile-nav">
              <li><%= link_to "Shop", products_path %></li>
              <li><%= link_to "Our Story", about_path %></li>
              <li><%= link_to "Blog", blog_posts_path %></li>
              <li><%= link_to "Contact Us", contact_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</nav>
<div class="site-wrapper">
  <div class='site-wrapper-inner'>
    <div class="cover-container">
      <div class="inner cover">
        <h1>Awake your inner goddess</h1>
        <p>Activewear &amp; yoga clothing made especially for women.</p>
        <%= link_to "Shop Now", products_path, class: 'btn btn-lg btn-info' %>
      </div>
    </div>
    <footer>
      <ul class="social">
        <li><a href="https://www.facebook.com/kayaactive" class="fa fa-facebook-square" target="_blank"></a></li>
        <li><a href="http://instagram.com/kayaactive" class="fa fa-instagram" target="_blank"></a></li>
        <li><a href="http://www.pinterest.com/kayaactive/" class="fa fa-pinterest-square" target="_blank"></a></li>
      </ul>
    </footer>
  </div>
</div>