<div class="row">
  <div class="col-md-12 col-xs-12 homepage-image">
    <img src="<%= cl_image_path('banner_pfo3ee', fetch_format: :auto, quality: 50) %>" class='img-responsive'>
  </div>
</div>

<div class="container">
  <div class="row">
  <%= render partial: 'category_box', locals: {category: 'leggings', title: 'Leggings', image_id: 'BS_90_0321_e1flsq'} %>
  <%= render partial: 'category_box', locals: {category: 'body-suits', title: 'Body Suits', image_id: 'BS_90_0018_otnxml'} %>
  <%= render partial: 'category_box', locals: {category: 'tops', title: 'Tops', image_id: 'BS_90_0882_ywemqq'} %>
  <%= render partial: 'category_box', locals: {category: 'yoga-mats', title: 'Yoga Mats', image_id: 'mandala_grey_big_l4amre'} %>
  </div>