<div class="row">
  <div class="col-md-12 col-xs-12 homepage-image">
    <a href="<%= products_path %>">
      <%= image_tag 'summer_collection.webp', class: 'img-responsive' %>
    </a>
  </div>
</div>

<%= render partial: 'shared/mobile_category_menu' %>

<div class="container">
  <div class="row">
  <%= render partial: 'category_box', locals: {category: 'leggings', title: 'Leggings', image_id: 'leggings_gynsd6'} %>
  <%= render partial: 'category_box', locals: {category: 'body-suits', title: 'Body Suits', image_id: 'body-suits_hq12ud'} %>
  <%= render partial: 'category_box', locals: {category: 'tops', title: 'Tops', image_id: 'tops_wtinjk'} %>
  <%= render partial: 'category_box', locals: {category: 'yoga-mats', title: 'Yoga Mats', image_id: 'yoga-mats_hka43c'} %>
  </div>
</div>