<div class="landing">
  <div class="cycler">
    <div class="background" style="background-image: url(<%= asset_path('background.jpg') %>); background-position: 90% 30%;"></div>
    <div class="background" style="background-image: url(<%= asset_path('background1.jpg') %>); background-position: 90% 30%;"></div>
    <div class="background active" style="background-image: url(<%= asset_path('background2.jpg') %>); background-position: 10% 25%;"></div>
  </div>
  <%= render partial: 'shared/navbar' %>
  <div class="cover-container">
    <div class="inner cover">
      <h1>Awake your inner goddess</h1>
      <p>Activewear &amp; yoga clothing made especially for women.</p>
      <%= link_to "Shop Now", products_path, class: 'btn btn-lg btn-info' %>
    </div>
  </div>
  <footer>
    <ul class="social">
      <li><a href="https://www.facebook.com/kayaactive" class="fa fa-facebook-square" target="_blank"></a></li>
      <li><a href="http://instagram.com/kayaactive" class="fa fa-instagram" target="_blank"></a></li>
      <li><a href="http://www.pinterest.com/kayaactive/" class="fa fa-pinterest-square" target="_blank"></a></li>
    </ul>
  </footer>
</div>

<%= javascript_tag do %>

function cycleImages(){
  var $active = $('.cycler .active');
  var $next = ($active.next().length > 0) ? $active.next() : $('.cycler .background:first');
  $next.css('z-index',2);//move the next image up the pile
  $active.fadeOut(1500,function(){//fade out the top image
    $active.css('z-index',1).show().removeClass('active');//reset the z-index and unhide the image
    $next.css('z-index',3).addClass('active');//make the next image the top one
  });
}

$(document).ready(function(){
  setInterval('cycleImages()', 3000);
})

<% end %>