<img src="<%= cl_image_path('BSC_90_0613_copy_zoy4hv', fetch_format: :auto, quality: 50) %>" class='img-responsive'>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 homepage-text">
      <p>Raw denim actually photo booth, put a bird on it Godard Tonx ethical meh Etsy kitsch sustainable. Neutra asymmetrical DIY, selvage whatever readymade banh mi keffiyeh selfies Truffaut kitsch direct trade Wes Anderson. Butcher vegan brunch McSweeney's trust fund, DIY yr hella shabby chic food truck master cleanse jean shorts. Intelligentsia forage letterpress cornhole, typewriter organic YOLO polaroid asymmetrical ethical selvage. Raw denim ethnic VHS Wes Anderson food truck Carles Banksy. Selvage keffiyeh Williamsburg drinking vinegar four loko 3 wolf moon. Truffaut single-origin coffee cliche mlkshk artisan, vinyl Echo Park 90's Tonx quinoa.</p>

      <p>Squid kogi lo-fi, wolf synth ugh asymmetrical stumptown brunch ethnic craft beer. Chia synth Austin, locavore iPhone chambray American Apparel. Asymmetrical deep v Thundercats seitan. Pitchfork PBR&B YOLO Bushwick art party. Schlitz narwhal synth pork belly hashtag, organic drinking vinegar distillery pug actually forage flannel roof party sriracha Shoreditch. Tousled irony occupy, Shoreditch Neutra Tumblr deep v mixtape McSweeney's vegan paleo cardigan YOLO. Pickled pork belly freegan put a bird on it Shoreditch lomo synth.</p>
    </div>
  </div>
  <div class="row">

    <div class="col-md-4 col-xs-4">
      <div class="thumbnail">
        <a href="<%= category_products_path(category: 'leggings') %>">
          <%= cl_image_tag @leggings_product.images.first.cloudinary_ref,
                        alt: "View all leggings",
                        height: 500,
                        width: 275,
                        crop: :fill,
                        gravity: :south,
                        fetch_format: :auto
          %>
          <div class="caption text-center">
            <h3>View all Leggings</h3>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-xs-4">
      <div class="thumbnail">
        <a href="<%= category_products_path(category: 'body-suits') %>">
          <%= cl_image_tag @body_suit_product.images.first.cloudinary_ref,
                        alt: "View all leggings",
                        height: 500,
                        width: 275,
                        crop: :fill,
                        fetch_format: :auto
          %>
          <div class="caption text-center">
            <h3>View all Body Suits</h3>
          </div>
        </a>
      </div>

    </div>

    <div class="col-md-4 col-xs-4">
      <div class="thumbnail">
        <a href="<%= category_products_path(category: 'belts') %>">
          <%= cl_image_tag @belt_product.images.first.cloudinary_ref,
                        alt: "View all leggings",
                        height: 500,
                        width: 275,
                        crop: :fill,
                        fetch_format: :auto
          %>
          <div class="caption text-center">
            <h3>View all Belts</h3>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>