<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 homepage-image">
      <a href="<%= products_path %>">
        <% if is_mobile_request? %>
            <%= image_tag 'wood_banner_small-min.jpg', class: 'img-responsive' %>
        <% else %>
          <%= cl_image_tag 'wood_banner_desktop',
              alt: "Shop now with Kaya Active",
              fetch_format: :auto,
              class: 'img-responsive'
          %>
        <% end %>
        <div>
          <p>Shop now</p><p>the latest styles<p>
          <p class='small'>BrasilSul Summer 2015</span></p>
        </div>
      </a>
    </div>
  </div>
  <br>

  <div class="row">
  <%= render partial: 'category_box', locals: {category: 'leggings', title: 'Leggings', image_id: 'leggings_kbxbq3'} %>
  <%= render partial: 'category_box', locals: {category: 'bodysuits', title: 'Bodysuits', image_id: 'bodysuits_hq12ud'} %>
  <%= render partial: 'category_box', locals: {category: 'tops', title: 'Tops', image_id: 'tops_wtinjk'} %>
  <%= render partial: 'category_box', locals: {category: 'yoga-mats', title: 'Yoga Mats', image_id: 'yoga-mats_hka43c'} %>
  </div>
</div>

<%= render partial: 'shared/mobile_category_menu' %>