<img src="<%= cl_image_path('BSC_90_0613_copy_zoy4hv', fetch_format: :auto, quality: 50) %>" class='img-responsive'>

<div class="container">
  <div class="row">

    <div class="col-md-4 col-xs-4">
      <div class="thumbnail">
        <a href="<%= category_products_path(category: 'leggings') %>">
          <%= cl_image_tag @leggings_product.images.first.cloudinary_ref,
                        alt: "View all leggings",
                        height: 500,
                        width: 275,
                        crop: :fill,
                        gravity: :south,
                        fetch_format: :auto
          %>
          <div class="caption text-center">
            <h3>View all Leggings</h3>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-xs-4">
      <div class="thumbnail">
        <a href="<%= category_products_path(category: 'leggings') %>">
          <%= cl_image_tag @body_suit_product.images.first.cloudinary_ref,
                        alt: "View all leggings",
                        height: 500,
                        width: 275,
                        crop: :fill,
                        fetch_format: :auto
          %>
          <div class="caption text-center">
            <h3>View all Leggings</h3>
          </div>
        </a>
      </div>

    </div>

    <div class="col-md-4 col-xs-4">
      <div class="thumbnail">
        <a href="<%= category_products_path(category: 'leggings') %>">
          <%= cl_image_tag @belt_product.images.first.cloudinary_ref,
                        alt: "View all leggings",
                        height: 500,
                        width: 275,
                        crop: :fill,
                        fetch_format: :auto
          %>
          <div class="caption text-center">
            <h3>View all Leggings</h3>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>