<div class="row">
  <div class="col-md-12 col-xs-12 homepage-image">
    <img src="<%= cl_image_path('banner_pfo3ee', fetch_format: :auto, quality: 65, width: 2000, crop: :pad) %>" class='img-responsive'>
  </div>
</div>

<div class="container">
  <div class="row">
  <%= render partial: 'category_box', locals: {category: 'leggings', title: 'Leggings', image_id: 'leggings_gynsd6'} %>
  <%= render partial: 'category_box', locals: {category: 'body-suits', title: 'Body Suits', image_id: 'body-suits_hq12ud'} %>
  <%= render partial: 'category_box', locals: {category: 'tops', title: 'Tops', image_id: 'tops_wtinjk'} %>
  <%= render partial: 'category_box', locals: {category: 'yoga-mats', title: 'Yoga Mats', image_id: 'yoga-mats_hka43c'} %>
  </div>