<% content_for :title, "#{@post.title} | Kaya Active Blog | #morethanbeautiful Blog " %>
<% content_for :description, "#{@post.title} | Kaya Active Blog | #morethanbeautiful Blog " %>
<% content_for :img_src do %><link rel="image_src" href="<%= cl_image_path(@post.banner_image_ref) %>" / ><% end %>

<div class="col-md-2 hidden-xs"></div>
<div class="col-md-8">
  <article itemscope itemtype="http://schema.org/Article" role='article' id='blogPost'>
  <header>
    <h1 itemprop="name"><%= @post.title %></h1>
  </header>
  <div itemprop='articleBody' class='articleBody'>
    <% if @post.content.present? %>
      <%= raw(markdown_format(erb_compile(@post.content))) %>
    <% else %>
      <% @post.blog_post_items.order(:created_at).each do |item| %>
        <% if item.content_type == 'text' %>
          <%= raw(markdown_format(erb_compile(item.content))) %>
        <% elsif item.content_type == 'image' %>
          <%=
            cl_image_tag(
              item.reference,
              class: 'img-responsive',
              fetch_format: :auto,
              quality: 60,
              height: 800,
              width: 2000,
              mobile_height: 400,
              mobile_width: 1000,
              crop: :fit
            )
          %>
        <% elsif item.content_type == 'youtube' %>
          <%= youtube_tag item.reference %>
        <% elsif item.content_type == 'product' %>
          <%= related_products item.reference.split(',') %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</article>
</div>
<div class="col-md-2 hidden-xs"></div>