<% content_for :title, "#{@post.title} | Kaya Active Blog | #morethanbeautiful Blog " %>
<% content_for :description, "#{@post.title} | Kaya Active Blog | #morethanbeautiful Blog " %>
<% content_for :img_src do %><link rel="image_src" href="<%= cl_image_path(@post.banner_image_ref) %>" / ><% end %>

<div class="col-md-2 hidden-xs"></div>
<div class="col-md-8">
  <article itemscope itemtype="http://schema.org/Article" role='article' id='blogPost'>
  <header>
    <h1 itemprop="name"><%= @post.title %></h1>
  </header>
  <div itemprop='articleBody' class='articleBody'>
    <% if @post.content.present? %>
      <%= raw(markdown_format(erb_compile(@post.content))) %>
    <% else %>
      <% @post.blog_post_items.order(:created_at).each do |item| %>
        <% if item.content_type == 'text' %>
          <%= raw(markdown_format(erb_compile(item.content))) %>
        <% elsif item.content_type == 'image' %>
          <%=
            cl_image_tag(
              item.reference,
              class: 'img-responsive',
              fetch_format: :auto,
              quality: 60,
              height: 800,
              width: 800,
              mobile_quality: 70,
              mobile_height: 300,
              mobile_width: 300,
              crop: :fit
            )
          %>
        <% elsif item.content_type == 'youtube' %>
          <%= youtube_tag item.reference %>
        <% elsif item.content_type == 'product' %>
          <%= related_products item.reference.split(',') %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="author">
    <%=
      cl_image_tag(
        @post.author.cloudinary_ref,
        fetch_format: :auto,
        quality: 100,
        height: 70,
        width: 70,
        mobile_quality: 100,
        mobile_height: 50,
        mobile_width: 50,
        crop: :lfill,
        gravity: :face,
        radius: :max

      )
    %>
    <div><%= @post.author.name %></div>
    <div><%= @post.author.description %></div>
  </div>
  <div class="share">
    <h3>Share</h3>
    <ul>
      <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=<%= URI::encode blog_post_url(@post.slug) %>" rel="nofollow" class="fa fa-facebook-square" target="_blank"></a></li>

      <li class="twitter"><a href="https://twitter.com/home?status=<%= URI::encode blog_post_url(@post.slug) %>" rel="nofollow" class="fa fa-twitter" target="_blank"></a></li>

      <li class="pinterest"><a href="https://www.pinterest.com/pin/create/button/?url=<%= URI::encode blog_post_url(@post.slug) %>&media=<%= URI::encode cl_image_path(@post.banner_image_ref) %>" target="_blank" rel="nofollow" class="fa fa-pinterest"></a></li>

      <li class="googleplus"><a href="https://plus.google.com/share?url=<%= URI::encode blog_post_url(@post.slug) %>" rel="nofollow" class="fa fa-google-plus-square" target="_blank"></a></li>
    <ul>
  </div>
</article>
</div>
<div class="col-md-2 hidden-xs"></div>