<%= simple_form_for @purchase do |form| %>
  <%= form_auth_field %>
  <%= hidden_field_tag :product_id, @product.id %>
  <div class='row'>
  </div>
  <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>

      <legend>About You</legend>
        <%= form.input :name, placeholder: 'Name', input_html: {class: 'form-control'}, wrapper_html: {class: 'col-xs-12'} %>

      <div class='form-row'>
        <div class='col-xs-12 form-group required'>
          <label class='control-label'>Name</label>
          <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
        </div>
      </div>

      <div class='form-row'>
        <div class='col-xs-12 form-group required'>
          <label class='control-label'>Email Address</label>
          <%= form.text_field :email_address, class: 'form-control', placeholder: 'Email Address' %>
        </div>
      </div>

      <legend>Delivery Address Details</legend>
      <%= render partial: 'delivery_address', locals: {form: form} %>

      <legend>Card Details</legend>
      <div class='form-row'>
        <div class='col-xs-12 form-group required'>
          <label class='control-label'>Name on Card</label>
          <%= form.text_field :name_on_card, class: 'form-control', placeholder: 'Name on Card' %>
        </div>
      </div>

      <div class='form-row'>
        <div class='col-xs-12 form-group required'>
          <label class='control-label'>Card Number</label>
          <input type="text" size="20" data-stripe="number" class="form-control" placeholder="Card Number"/>
        </div>
      </div>

      <div class='form-row'>
        <div class='col-xs-12 form-group required'>
          <label class='control-label'>CVC</label>
          <input type="text" size="4" data-stripe="cvc" class="form-control" placeholder="CVC"/>
        </div>

        <div class='col-xs-4 form-group expiration required'>
          <label class='control-label'>Expiration</label>
          <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text' data-stripe="exp-month">
        </div>
        <div class='col-xs-4 form-group expiration required'>
          <label class='control-label'> </label>
          <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text' data-stripe="exp-year">
        </div>
      </div>

      <div class='form-row'>
        <div class='col-md-12'>
          <div class='form-control total btn btn-info'>
            Total:
            <span class='amount'><%= number_to_currency(@purchase.total_in_dollars) %></span>
          </div>
        </div>
      </div>

      <div class='form-row'>
        <div class='col-md-12 form-group'>
          <button class='form-control btn btn-primary submit-button' type='submit'>Pay »</button>
        </div>
      </div>

    </div>
    <div class='col-md-2'></div>
  </div>
<% end %>

<%= javascript_tag do %>
jQuery(function($) {
  $('#new_purchase').submit(function(event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
});

function stripeResponseHandler(status, response) {
  var $form = $('#new_purchase');

  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('button').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="purchase[stripe_token]" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};
<% end %>



