<%= simple_form_for @purchase, html: {class: 'form-horizontal checkout'}, defaults: { label_html: {class: 'col-md-4 control-label'}, input_html: { class: 'form-control input-m' } } do |form| %>

  <% if @purchase.errors[:card].first %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= @purchase.errors[:card].first %>
    </div>
  <% end %>

  <legend>Order Summary</legend>
  <table class="table order-summary">
    <tbody>
      <% @purchase.line_items.each do |line_item| %>
        <%= render partial: 'shared/basket_row', locals: {product: line_item.product, line_item: line_item} %>
      <% end %>
        <tr>
          <td></td>
          <td>Voucher Discount</td>
          <td>
            <strong class="js-voucher-discount">
              <%= @purchase.voucher ? number_to_currency(@purchase.voucher.discount_in_dollars) : "$0.00" %>
            </strong>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Delivery Price</td>
          <td><strong class="js-delivery-price">Free</strong></td>
        </tr>
        <tr>
          <td></td>
          <td>Total Price</td>
          <td><strong class="js-total-price"><%= number_to_currency(@purchase.total_in_dollars) %></strong></td>
        </tr>
    </tbody>
  </table>

  <%= form_auth_field %>
  <%= hidden_field_tag :size, params[:size]  %>
      <legend>About You</legend>
      <%= form.input :name, placeholder: 'Name' %>
      <%= form.input :email_address, placeholder: 'Email Address' %>

      <legend>Delivery Address Details</legend>
      <%= render partial: 'delivery_address', locals: {form: form} %>

      <legend>Voucher</legend>
      <%= form.input :voucher_code, placeholder: 'Voucher Code' %>

      <legend>Card Details</legend>
      <%= render partial: 'credit_card', locals: {form: form} %>

      <div class="buttons col-md-4"></div>
      <div class="buttons col-md-4">
        <button class='form-control btn btn-primary submit-button' type='submit'>Pay <span class="js-total-price"><%= number_to_currency(@purchase.total_in_dollars) %></span> »</button>
      </div>
      <div class="buttons col-md-4"></div>
<% end %>

<%= javascript_tag do %>
  new Checkout('<%= @purchase.total %>', '<%= purchase_price_path(format: :json) %>')
<% end %>
