<nav class="navbar navbar-default" role="navigation">
   <div class="container">
    <div class="navbar-header">
        <%= link_to image_tag('kaya_logo_plain.png', alt: 'Kaya Active Logo', class: 'navbar-brand'), root_path %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav hidden-xs">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="<%= products_path %>">View All</a></li>
              <li><a href="<%= category_products_path(category:'leggings') %>">Leggings</a></li>
              <li><a href="<%= category_products_path(category:'tops') %>">Tops</a></li>
              <li><a href="<%= category_products_path(category:'yoga-mats') %>">Yoga Mats</a></li>
              <li><a href="<%= category_products_path(category:'body-suits') %>">Body Suits</a></li>
              <li><a href="<%= category_products_path(category:'belts') %>">Belts</a></li>
            </ul>
        </li>
        <li><%= link_to "Contact Us", contact_path %></li>
      </ul>
      <div class="navbar-text navbar-right social">
        <a href="https://www.facebook.com/kayaactive" class="fa fa-facebook-square" target="_blank"></a>
        <a href="http://instagram.com/kayaactive" class="fa fa-instagram" target="_blank"></a>
        <a href="http://www.pinterest.com/kayaactive/" class="fa fa-pinterest-square" target="_blank"></a>
      </div>
    </div>
   </div>
</nav>
