<footer class="footer">
  <div class="container">
    <div class='col-md-3'>
      <h4>Shop</h4>
      <ul>
        <li><a href="<%= category_products_path(category:'leggings') %>">Leggings</a></li>
        <li><a href="<%= category_products_path(category:'tops') %>">Tops</a></li>
        <li><a href="<%= category_products_path(category:'yoga-mats') %>">Yoga Mats</a></li>
        <li><a href="<%= category_products_path(category:'bodysuits') %>">Bodysuits</a></li>
        <li><a href="<%= category_products_path(category:'belts') %>">Belts</a></li>
      </ul>
    </div>
    <div class='col-md-3'>
      <h4>Customer Service</h4>
      <ul>
        <li><%= link_to "Shipping", shipping_path %></li>
        <li><%= link_to "Returns", returns_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        <li><%= link_to "Our Story", about_path %></li>
        <!--<li><%= link_to "Privacy Policy", privacy_path %></li>
        <li><%= link_to "Term and Conditions", terms_path %></li>-->
      </ul>
    </div>
    <div class='col-md-3'>
      <h4>Social</h4>
      <ul>
        <li><a href="https://www.facebook.com/kayaactive" class="fa fa-facebook-square"> Facebook</a></li>
        <li><a href="http://instagram.com/kayaactive" class="fa fa-instagram"> Instagram</a></li>
        <li><a href="http://www.pinterest.com/kayaactive/" class="fa fa-pinterest-square"> Pinterest</a></li>
      </ul>
    </div>
  </div>
</footer>