<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for :title %>Kaya Active | Womens premium inspirational activewear | Yoga, Crossfit, running and more</title>
<meta name="description" content="<%= content_for(:description) || "Kaya Active is the women's premium active wear retailer. Our range of high quality and inspiring sportswear is perfect for yoga, crossfit, pilates, running, and bikram. Be Active, be inspired and feel beautiful." %>" />
<meta name="keywords" content="leggings, yoga pants, yoga leggings, crossfit leggings, crossfit wear, printed leggings, brazilian leggings, patterned leggings, patterned tights, leggings from brazil, tights from brazil, colourful leggings" />

<link href="http://fonts.googleapis.com/css?family=Lato|Muli" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="<%= image_path "favicon.ico" %>" type="image/x-icon">
<link rel="icon" href="<%= image_path "favicon.ico" %>" type="image/x-icon">
<%= content_for :img_src %>

<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<meta name="p:domain_verify" content="d7fcd7d2a31534260b828b262b367ca8"/>
<meta name="google-site-verification" content="paX1FA8GgVqIFtxX7AL8VHpkWrsYkZSv1sVlwqdmyX8" />
