<ul class="nav nav-stacked visible-xs mobile-nav">
  <li><a href="<%= products_path %>">Summer Collection</a></li>
  <li><a href="<%= category_products_path(category:'leggings') %>">Leggings</a></li>
  <li><a href="<%= category_products_path(category:'tops') %>">Tops</a></li>
  <li><a href="<%= category_products_path(category:'yoga-mats') %>">Yoga Mats</a></li>
  <li><a href="<%= category_products_path(category:'body-suits') %>">Body Suits</a></li>
  <li><a href="<%= category_products_path(category:'belts') %>">Belts</a></li>
</ul>