<%= content_for :title, "Contact and purchasing details | " %>

<ol class="breadcrumb hidden-xs">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Purchasing &amp; Contact</li>
</ol>


<h1>Purchasing &amp; Contact</h1>
<p>To purchase any of our beautiful pieces send us an email or give us a call.</p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Contact Details</h2>
      </div>
      <div class="panel-body">
        <div>
          <span class='hide'>Email:</span>
          <span class="glyphicon glyphicon-envelope"></span>
          <span><%= link_to "kayaactive@gmail.com", "mailto:kayaactive@gmail.com", itemprop: "email" %></span>
        </div>
        <div>
          <span class='hide'>Phone number:</span>
          <span class="glyphicon glyphicon-earphone"></span>
          <span itemprop="telephone"><a href="tel:+61459764063">+61 459 764 063</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Visit our show room by appointment</h2>
      </div>
      <div class="panel-body">
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">6/151 Blair street</span><br>
          <span itemprop="addressLocality">North bondi</span><br>
          <span itemprop="postalcode">2026</span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Follow us</h2>
  </div>
  <div class="panel-body">
    <%= link_to "Facebook", "http://facebook.com/kayaactive"%><br>
    <%= link_to "Instagram", "http://instagram.com/kayaactive"%><br>
    <%= link_to "Pinterest", "http://pinterest.com/kayaactive"%>
  </div>
</div>
