<ul class="categories hidden-xs" role="menu">
  <li><a href="<%= products_path %>">All</a></li>
  <li><a href="<%= category_products_path(category:'leggings') %>">Leggings</a></li>
  <li><a href="<%= category_products_path(category:'tops') %>">Tops</a></li>
  <li><a href="<%= category_products_path(category:'yoga-mats') %>">Yoga Mats</a></li>
  <li><a href="<%= category_products_path(category:'bodysuits') %>">Bodysuits</a></li>
  <li><a href="<%= category_products_path(category:'belts') %>">Belts</a></li>
</ul>
