<% if params[:category].present? %>
  <% content_for :title, "#{params[:category].titleize.gsub(/-/, " ")} | " %>
  <% content_for :description, "Kaya Active | Our range of high quality and inspiring #{params[:category].titleize.gsub(/-/, " ")} are perfect for yoga, crossfit, pilates, running, and bikram. Be Active, be inspired and feel beautiful." %>
<% else %>
  <% content_for :title, "Collection | All Products | " %>
  <% content_for :description, "Kaya Active | Our full range of high quality and inspiring are perfect for yoga, crossfit, pilates, running, and bikram. Be Active, be inspired and feel beautiful." %>
<% end %>
<ol class="breadcrumb hidden-xs">
  <li><%= link_to "Home", root_path %></li>
  <% if params[:category] %>
    <li><%= link_to "Collection", products_path %></li>
    <li class="active"><%= params[:category].titleize.gsub(/-/, " ") %></li>
  <% else %>
    <li class="active">Collection</li>
  <% end %>
</ol>

<h1 class="category-title"><%= params[:category] ? params[:category].titleize.gsub(/-/, " ") : 'Collection' %></h1>

<%= render partial: 'shared/product_list', locals: {products: @products} %>