<% if params[:category].present? %>
  <% content_for :title, "#{params[:category].titleize.gsub(/-/, " ")} | " %>
  <% content_for :description, "Kaya Active | Our range of high quality and inspiring #{params[:category].titleize.gsub(/-/, " ")} are perfect for yoga, crossfit, pilates, running, and bikram. Be Active, be inspired and feel beautiful." %>
<% else %>
  <% content_for :title, "Summer Collection | All Products | " %>
  <% content_for :description, "Kaya Active | Our full range of high quality and inspiring are perfect for yoga, crossfit, pilates, running, and bikram. Be Active, be inspired and feel beautiful." %>
<% end %>
<ol class="breadcrumb hidden-xs">
  <li><%= link_to "Home", root_path %></li>
  <% if params[:category] %>
    <li><%= link_to "Collection", products_path %></li>
    <li class="active"><%= params[:category].titleize.gsub(/-/, " ") %></li>
  <% else %>
    <li class="active">Collection</li>
  <% end %>
</ol>

<h1 class="category-title"><%= params[:category] ? params[:category].titleize.gsub(/-/, " ") : 'Collection' %></h1>

<div class="row">
  <% @products.each do |product| %>
    <% next if product.nil? or product.images.first.nil? %>
    <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3">
      <div class="thumbnail">
        <a href="<%= product_path(slug: product.slug, category: product.category.downcase) %>">
          <% if product.default_image %>
            <%= cl_image_tag product.default_image.cloudinary_ref,
                          alt: "#{product.name}",
                          height: 500,
                          width: 275,
                          crop: :pad,
                          mobile_width: 200,
                          mobile_height: 350,
                          fetch_format: :auto
            %>
          <% end %>
          <div class="caption text-center">
            <h3><%= product.name.titleize %></h3>
            <p class="price"><%= number_to_currency(product.price_in_dollars) if product.price_in_dollars.present?  %></p>
          </div>
        </a>
      </div>
    </div>
  <% end %>
</div>
