<% content_for :title, "#{@product.name.titleize} - #{@product.kind.titleize} from Brasilsul | " %>
<ol class="breadcrumb hidden-xs">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Collection", products_path %></li>
  <li itemprop="price"><%= link_to @product.category.titleize.gsub(/-/, " "), category_products_path(category: @product.category) %></li>
  <li class="active"><%= "#{@product.name.titleize}" %> </li>
</ol>

<div class="visible-xs back-to-category-xs">
  <span class="fa fa-arrow-circle-left"></span>
  <%= link_to "All "+@product.category.titleize.gsub(/-/, " "), category_products_path(category: @product.category) %>
</div>

<div itemscope itemtype="http://schema.org/Product" class="row">
  <div class="col-md-8 col-xs-12">
    <div id="productImages" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% (@product.images.size + 1).times do |i| #+1 for the close up %>
          <li data-target="#productImages" data-slide-to="0" class="<%= 'active' if i==0 %>"></li>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @product.images.each_with_index do |image, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <%= cl_image_tag image.cloudinary_ref,
                  alt: "#{@product.name}",
                  height: 700,
                  width: 600,
                  crop: :pad,
                  fetch_format: :auto,
                  class: 'img-responsive center-block',
                  itemprop: 'image'
            %>
          </div>
        <% end %>
        <div class="item">
            <%= cl_image_tag  @product.images.first.cloudinary_ref,
                  alt: "#{@product.name}",
                  height: 700,
                  width: 600,
                  crop: :fill,
                  fetch_format: :auto,
                  class: 'img-responsive center-block',
                  itemprop: 'image'
            %>
          </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#productImages" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#productImages" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-xs-12">
    <h1 itemprop="name"><%= "#{@product.name.strip.titleize}" -%></h1>
    <p itemprop="brand" itemscope itemtype="http://schema.org/Brand">from <span itemprop="name" itemprop="brand"><%= @product.brand %></span></p>

    <% if @product.price.present? and @product.price > 0 %>
      <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <p itemprop="price"><%= number_to_currency(@product.price_in_dollars) %></p>
      </span>
    <% end %>

    <%= form_tag new_purchase_path, method: 'get', class: 'js-buy-online-form' do |form| %>
      <%= hidden_field_tag :product, @product.slug %>
        <% if @product.multiple_sizes? %>
          <div class="form-group">
            <label for='size'>Size:</label>
            <%= select_tag('size',options_for_select([['Small/Medium'],['Medium/Large']]), {id: 'size'}) %>
          </div>
        <% end %>
        <div class="form-group">
          <button class="btn btn-info btn-lg" type='submit'>
            Buy Now <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>

    <% end %>

    <% if @product.description.present? %>
      <% @product.description.split("\n").each do |paragraph| %>
        <p><%= paragraph %></p>
      <% end %>
    <% end %>

    <p><%= @product.made_in %></p>

    <p>
      <a href="<%= new_enquiry_path(product: @product.slug) %>" class="btn btn-info">
        Message Us
        <span class="glyphicon glyphicon-envelope"></span>
      </a>
    </p>

    <div class="addthis_native_toolbox"></div>
    <div class="addthis_sharing_toolbox"></div>

    <div class="panel-group" id="accordion">
      <% {fabric_and_feel: 'Fabric &amp; Feel',fit_and_size: 'Fit &amp; Size',measurements: 'Measurements'}.each do |method, nice_name| %>
        <% if @product.send(method).present? %>
          <%= render partial: 'detail_accordion', locals: {nice_name: nice_name, content: @product.send(method), id: method} %>
        <% end %>
      <% end %>
      <%= render partial: 'detail_accordion', locals: {nice_name: 'Care Instructions', content: 'Cool wash only. Do not tumble dry.', id: 'care_instruction'} %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // swipe
    $("#productImages").swiperight(function() {
      $(this).carousel('prev');
    });
    $("#productImages").swipeleft(function() {
      $(this).carousel('next');
    });

    // accordion arrow change
    $('.panel-collapse').on('show.bs.collapse', function () {
      $(this).parent().find('span.right.glyphicon').removeClass('glyphicon-chevron-right');
      $(this).parent().find('span.right.glyphicon').addClass('glyphicon-chevron-down');
    });
    $('.panel-collapse').on('hide.bs.collapse', function () {
      $(this).parent().find('span.right.glyphicon').removeClass('glyphicon-chevron-down');
      $(this).parent().find('span.right.glyphicon').addClass('glyphicon-chevron-right');
    });

  });
</script>