<% content_for :title, "#{@product.name.titleize} #{@product.category} - #{@product.kind.titleize} from Brasilsul | " %>
<ol class="breadcrumb hidden-xs">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Collection", products_path %></li>
  <li itemprop="price"><%= link_to @product.category.titleize.gsub(/-/, " "), category_products_path(category: @product.category) %></li>
  <li class="active"><%= "#{@product.name.titleize}" %> </li>
</ol>

<div class="visible-xs back-to-category-xs">
  <span class="glyphicon glyphicon-arrow-left"></span>
  <%= link_to "All "+@product.category.titleize.gsub(/-/, " "), category_products_path(category: @product.category) %>
</div>

<div itemscope itemtype="http://schema.org/Product" class="row">
  <div class="col-md-8 col-xs-12">
    <div id="productImages" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% (@product.images.size + 1).times do |i| #+1 for the close up %>
          <li data-target="#productImages" data-slide-to="0" class="<%= 'active' if i==0 %>"></li>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @product.images.each_with_index do |image, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <%= cl_image_tag image.cloudinary_ref,
                  alt: "#{@product.name}",
                  height: 700,
                  width: 600,
                  crop: :pad,
                  format: :png,
                  class: 'img-responsive center-block',
                  itemprop: 'image'
            %>
          </div>
        <% end %>
        <div class="item">
            <%= cl_image_tag  @product.images.first.cloudinary_ref,
                  alt: "#{@product.name}",
                  height: 700,
                  width: 600,
                  crop: :fill,
                  format: :png,
                  class: 'img-responsive center-block',
                  itemprop: 'image'
            %>
          </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#productImages" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#productImages" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-xs-12">
    <h1 itemprop="name"><%= "#{@product.name.strip.titleize}" -%></h1>
    <p itemprop="brand" itemscope itemtype="http://schema.org/Brand">from <span itemprop="name" itemprop="brand">BrasilSul</span></p>

    <% if @product.price.present? and @product.price > 0 %>
      <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <p itemprop="price"><%= number_to_currency(@product.price_in_dollars) %></p>
      </span>
    <% end %>

    <p><%= link_to "Pre-order", contact_path, class: "btn btn-info btn-lg" %></p>

    <% if @product.description.present? %>
      <% @product.description.split("\n").each do |paragraph| %>
        <p><%= paragraph %></p>
      <% end %>
    <% end %>

    <div class="addthis_native_toolbox"></div>
    <div class="addthis_sharing_toolbox"></div>

    <% if @product.fabric_and_feel.present? %>
      <h4>Fabric & Feel</h4>
      <% @product.fabric_and_feel.split("\n").each do |text| %>
       <p><%= text %></p>
      <% end %>
    <% end %>
    <% if @product.fit_and_size.present? %>
      <h4>Fit & Size</h4>
      <% @product.fit_and_size.split("\n").each do |text| %>
       <p><%= text %></p>
      <% end %>
    <% end %>
    <% if @product.measurements.present? %>
      <h4>Measurements</h4>
      <% @product.measurements.split("\n").each do |text| %>
       <p><%= text %></p>
      <% end %>
    <% end %>
    <h4>Care Instructions</h4>
    <p>Cool wash only. Do not tumble dry.</p>
    <p>Made in Brazil, sweatshop free.</p>
  </div>

</div>

<script>
  $(document).ready(function() {
       $("#productImages").swiperight(function() {
          $(this).carousel('prev');
          });
       $("#productImages").swipeleft(function() {
          $(this).carousel('next');
     });
  });
</script>