<!DOCTYPE html>
<html lang="en">
<head>
  <title>Leggings | Kaya Active</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Kaya Active", root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to "Leggings", root_path %></li>
            <li><%= link_to "Contact Us", contact_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
