<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'shared/head' %>
</head>
<body>

  <!-- active admin wanted these -->
  <% if notice or alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>
  <!--// active admin wanted these -->
  <div class="free-shipping">
    <i class="fa fa-truck"></i>
    FREE SHIPPING IN AUSTRALIA
  </div>
  <%= render partial: 'shared/desktop_category_menu' %>
  <% if category_page? %>
    <div class="panel-group visible-xs" id="product-index-category-accordion">
      <div class="panel">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="left">Categories</span><span class="right glyphicon glyphicon-chevron-right"></span>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <%= render partial: 'shared/mobile_category_menu' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if homepage? %>
    <%= yield %>
  <% else %>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>


  <%= render partial: 'shared/footer' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :custom_javascript %>

  <%= render partial: 'shared/ga' %>

</body>
</html>