<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for :title %>Kaya Active | Womens premium inspirational activewear | Yoga, Crossfit, running and more</title>
  <meta name="description" content="<%= content_for(:description) || "Kaya Active is the women's premium active wear retailer. Our range of high quality and inspiring sportswear is perfect for yoga, crossfit, pilates, running, and bikram. Be Active, be inspired and feel beautiful." %>" />
  <meta name="keywords" content="leggings, yoga pants, yoga leggings, crossfit leggings, crossfit wear, printed leggings, brazilian leggings, patterned leggings, patterned tights, leggings from brazil, tights from brazil, colourful leggings" />

  <link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">

  <link rel="shortcut icon" href="<%= image_path "favicon.ico" %>" type="image/x-icon">
  <link rel="icon" href="<%= image_path "favicon.ico" %>" type="image/x-icon">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53e613d16ba0cdc7"></script>
</head>
<body>

  <!-- active admin wanted these -->
  <% if notice or alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>
  <!--// active admin wanted these -->

  <div class="header-logo">
    <%= link_to image_tag('kaya_logo.jpg', alt: 'Kaya Active Logo', class:'small-on-mobile'), root_path %>
  </div>
  <nav class="navbar navbar-default <%= 'homepage' if homepage? %>" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="hidden-xs"><a href="<%= root_path %>"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collection <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="<%= category_products_path(category:'leggings') %>">Leggings</a></li>
                <li><a href="<%= category_products_path(category:'tops') %>">Tops</a></li>
                <li><a href="<%= category_products_path(category:'yoga-mats') %>">Yoga Mats</a></li>
                <li><a href="<%= category_products_path(category:'body-suits') %>">Body Suits</a></li>
                <li><a href="<%= category_products_path(category:'belts') %>">Belts</a></li>
                <li><a href="<%= products_path %>">All Products</a></li>
              </ul>
          </li>
          <li><%= link_to "Contact Us", contact_path %></li>
        </ul>
      </div>
    </div>
  </nav>

  <% if homepage? %>
    <%= yield %>
  <% else %>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>

  <!-- GA -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53348972-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- /GA -->
</body>
</html>