<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'shared/head' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  <%= render partial: 'shared/navbar' %>
  <div class="container body <%= "#{params[:controller]} #{params[:action]}" %>">
    <%= yield %>
  </div>

  <%= render partial: 'shared/footer' %>

  <a href="" target="_blank" title="Share on Pinterest" id="pinit" class="fa fa-pinterest" style="display:none; position:absolute;"></a>

  <%= yield :custom_javascript %>

  <%= render partial: 'shared/ga' %>
  <%= render partial: 'shared/google_remarketing' %>
</body>
</html>