<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'shared/head' %>
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
  <%= yield :custom_javascript %>
  <%= render partial: 'shared/ga' %>
</body>
</html>